.header {
    /*this modify all header on top */
    position: fixed;
    /* The position is used to position an element
    it will keep element in place even when I scrolling */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    /* my name format*/
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    /* navbar of the page*/
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

/* active highlight*/
.navbar a:hover,
.navbar a.active {
    color: #00abf0
}